/* ====================================================
    Responsive
==================================================== */
@media (max-width: 380px) {
    h1 {
        font-size: 16px;
    }
    h2 {
        font-size: 12px;
    }
    h3 {
        font-size: 10px;
    }
    h4 {
        font-size: 8px;
    }
    h5 {
        font-size: 6px;
    }
    h6 {
        font-size: 5px;
    }
    p {
        font-size: 4px;
    }
    .swiper-slide {
        height: 300px;
    }

    .search_project{
        display: block;
    }
    .body{
        margin-top: 0;
    }
    .search-contents{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .banner-search-box{
        display: flex;
        width: 100%;
        padding: 10px;
        max-width: 700px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width: 576px) {

    .search-contents{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .banner-search-box{
        display: flex;
        width: 100%;
        padding: 10px;
        max-width: 700px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media (max-width: 576px) {
    .swiper-slide {
        height: 300px;
    }

    .search_project{
        display: block;
    }
    .body{
        margin-top: 0;
    }
    .search-contents{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .banner-search-box{
        display: flex;
        width: 100%;
        padding: 10px;
        max-width: 700px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    /* Global */
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 15px;
    }
    p {
        font-size: 14px;
    }
    .swiper {
        height: 300px;
    }
    .body{
        margin-top: 0;
    }
    .banner-search-box{
        display: flex;
        width: 100%;
        padding: 10px;
        max-width: 700px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .swiper__container{
        position: inherit;
    }

    .search-contents{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Global */
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 16px;
    }

    .search-contents{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .banner-search-box{
        display: flex;
        width: 100%;
        padding: 10px;
        max-width: 700px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/* Desktop 1200 - up */
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
    .swiper__container{
        position: absolute;
    }


    .banner-search-box{
        padding: 50px;
    }

    .search-contents{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 20px;
    }

}

@media (max-width: 1199px) {
    .ltr_1200
    {
        direction: ltr!important;
    }

}
/* Normal desktop :992px. (Laptop 14") */


/* small mobile :320px. */
/*@media (max-width: 767px) {*/
/*    !* Global *!*/
/*    body {*/
/*        font-size: 14px;*/
/*    }*/
/*    h1 {*/
/*        font-size: 24px;*/
/*    }*/
/*    h2 {*/
/*        font-size: 20px;*/
/*    }*/
/*    h3 {*/
/*        font-size: 18px;*/
/*    }*/
/*    h4 {*/
/*        font-size: 17px;*/
/*    }*/
/*    h5 {*/
/*        font-size: 16px;*/
/*    }*/
/*    h6 {*/
/*        font-size: 14px;*/
/*    }*/
/*    p {*/
/*        font-size: 14px;*/
/*    }*/


/*}*/

